*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

/* Utility class */
section{
    margin-bottom: 160px;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.light-blue{
    background-color: lightblue;
}

.container{
    width: 75%;
    /* height: 600px; */
    margin: 0 auto;
    background-color: darkorchid;
}
/* Classe comune dedicata ai bottoni */
.btn{
    width: 100%;
    color: white;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: blue;
}

.space-min{
    width: 30%;
    padding-right: 4rem;
    background-color: crimson;
}

.space-max{
    width: 70%;
    background-color: darkorange;
}

h2.sub-title{
    margin-bottom: 3rem;
}

/* Classe provvisoria pre dare una dimensione senza il 
contenuto */
.width{
    width: 100%;
}

/* Font del documento */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */
#top-header{
    width: 100%;
    min-width: 1065px;
    height: 90px;
    line-height: 90px;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    background-color: white;
}

img#heder-logo{
    width: 100%;
    vertical-align: middle;
}

nav ul li.item-style{
    display: inline;
    list-style-type: none;
    margin-left: 40px;
}

li.item-style a.black{
    text-decoration: none;
    font-weight: 600;
}

.black{
    color: black;
}

/* Main  */
/* Prima Section Jumbotron */

/* Immagine del jumbotron*/
img#jumbo-img{
    width: 100%;
}

section div.jumbotron{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    padding: 4.5rem 0;
    border: 1px solid black;
}
/* Titolone */
div.jumbotron div.title{
    margin-bottom: 2rem;
}
div.jumbotron h1{
    font-size: 5rem;
    font-weight: 700;
}

div.space-min:first-child p{
    margin-bottom: 2rem;
    font-weight: 500;
    line-height: 1.4rem;
}

/* Icona della freccia */
i.fas{
    font-size: 2.5rem;
}


/* Seconda Section (dopo jumbotron) */
header.section-header{
    padding: 2rem 0;
}
.section-header h2.sub-title{
    font-size: 2.5rem;
}

div.radio{
    display: inline-block;
    margin-right: 3rem;
}

input{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* I 3 aside flottati */
aside#middle-colum{
    margin: 0 30px;
}

div aside.colum{
    width: calc((100% / 3) - 20px);
    height: 950px;
    border: 1px solid black;
    background-color: red;
}

/* Interno Colonna */
div.heading{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
    font-weight: 500;
}

div.description-colum{
    padding: 1.5rem 1.2rem;
}

div.description-colum h2, h4{
    margin-bottom: 10px;
}

div.description-colum span{
    color: grey;
}

div.description-colum p{
    font-weight: 500;
}

div.box-button{
    margin-bottom: 30px;
}

div.description-colum ul li{
    list-style-type: none;
    margin-bottom: 15px;
    font-weight: 500;
}

ul li i.fa-check, i.fa-user, i.fa-folder, i.fa-pencil-alt, i.fa-building{
    font-size: 1rem;
    margin-right: 5px;
}

i.fa-check{
    color: blue;
}

/* Footer seconda section */
/* div#contact-office{
    padding: 1.5rem;
} */
.section-footer{
    background-color: chartreuse;
}

div.utility-wrap{
    padding: 1.5rem;
}




/* Terza Section (dopo Jumbotron) */


/* Quarta Section  */


/* Quinta Section */

/* Sesta Section */
section#square{
    width: 100%;
} 
/* Quadrato centrale */
.article-box{
    width: 40%;
    height: 460px;
    background-color: yellow;
}
/* Quadrati laterali */
.aside-box{
    width: 30%;
    height: 460px;
    background-color: red;
}

div.block{
    width: calc(100% / 2);
    height: calc(100% / 2);
    border: 1px solid red;
    background-color: purple;
}

/* Settima Section */

/* Ottava Section */
div.row{
    border-bottom: 2px solid black;
}
/* Div che da la dimensione alla domada */
div.question{
    width: 90%;
    background-color: crimson
}
/* Div che da la dimensione al selettore */
div.select{
    width: 10%;
    background-color: darkorange;
}

/* Footer */
div.footer-container{
    width: 95%;
    height: 500px;
    padding: 50px 80px;
}

div.ul-box{
    width: calc(100% / 5);
    background-color: chartreuse;
}

li.footer-item{
    list-style-type: none;

}



