*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

/* Utility class */
p{
    font-weight: 600;
}

.section-margin{
    margin-bottom: 8rem;
}

.position{
    position: relative;
}

.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container{
    width: 75%;
    margin: 0 auto;
    /* background-color: darkorchid; */
}

section.light-blue{
    background-color: lightblue;
    padding: 4.5rem 0;
}

/* Classe comune dedicata ai bottoni */
.btn{
    color: white;
    padding: 0.6rem 1.2rem;
    text-decoration: none;
    font-size: 1rem;
    background-color: blue;
}

h2.sub-title{
    font-size: 1.8rem;
    margin-bottom: 1.5rem;
}

div.section-title{
    padding: 1rem;
}

.space-min{
    width: 30%;
    padding-right: 4rem;
    background-color: crimson;
}

.space-max{
    width: 70%;
    background-color: darkorange;
}

/* Classe provvisoria pre dare una dimensione senza il 
contenuto */
.width{
    width: 100%;
}

/* Font del documento */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */
#top-header{
    width: 100%;
    min-width: 1065px;
    height: 90px;
    line-height: 90px;
    padding: 0 1rem;
    position: sticky;
    top: 0;
    z-index: 2;
    background-color: white;
}

img#heder-logo{
    width: 100%;
    vertical-align: middle;
}

nav ul li.item-style{
    display: inline;
    list-style-type: none;
    margin-left: 40px;
}

li.item-style a.black{
    text-decoration: none;
    font-weight: 600;
}

.black{
    color: black;
}

/* Main  */
/* Prima Section Jumbotron */

/* Immagine del jumbotron*/
img#jumbo-img{
    width: 100%;
}

section div.jumbotron{
    width: 90%;
    height: 100vh;
    margin: 0 auto;
    /* padding: 4.5rem 0; */
    border: 1px solid black;
}
/* Titolone */
div.jumbotron div.title{
    margin-bottom: 2rem;
}

div.jumbotron h1{
    font-size: 5rem;
    font-weight: 700;
}

div.space-min:first-child p{
    margin-bottom: 2rem;
    line-height: 1.4rem;
}

/* Icona della freccia */
i.fas{
    font-size: 2.5rem;
}


/* Seconda Section (dopo jumbotron) */
header.section-header{
    padding: 2rem 0;
}

div.radio{
    display: inline-block;
    margin-right: 3rem;
}

input{
    width: 20px;
    height: 20px;
    vertical-align: middle;
}

/* I 3 aside flottati */
div.colum-wrap{
    margin-bottom: 2rem;
}

.middle{
    margin: 0 30px;
}

div aside.colum{
    width: calc((100% / 3) - 20px);
    height: 1000px;
    border: 1px solid black;
    /* background-color: red; */
}

/* Interno Colonna */
div.description-colum{
    padding: 1.5rem 1.2rem;
}

div.description-colum h2, h3{
    margin-bottom: 1.5rem;
}

div.description-colum span{
    color: grey;
}

div.description-colum p{
    font-weight: 500;
}

div.box-button{
    margin-bottom: 30px;
}

div.description-colum ul li{
    list-style-type: none;
    margin-bottom: 1.5rem;
    font-weight: 500;
}

ul li i.fa-check, i.fa-user, i.fa-folder, i.fa-pencil-alt, i.fa-building{
    font-size: 1rem;
    margin-right: 5px;
}

i.fa-check{
    color: blue;
}

/* Footer seconda section */
.colum-footer{
    border: 1px solid black;
}

div.heading{
    text-align: center;
    padding: 1rem 0;
    border-bottom: 1px solid black;
    font-weight: 500;
}

div.wrap{
    padding: 1.5rem;
}

/* Terza Section (dopo Jumbotron) */
img#img-partner{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

div.big-element{
    width: 50%;
    margin-right: 40px;
    /* height: 500px; */
}

div.small-element{
    width: calc(50% - 40px);
    /* height: 500px; */
    padding: 2rem 0;
    font-weight: 500;
}

div.small-element a#partner-button{
    background-color: white;
    color: black;
    border: 2px solid black;
}

/* Quarta Section  */
div.card{
    width: calc((100% / 3) - 20px);
    margin-bottom: 5rem;
    padding: 1rem;
    border: 1px solid black;
}

/* Titolo delle card */
div.section-title h1{
    font-size: 2.5rem;
    margin-bottom: 1.5rem;
}

/* Card */
img.tools{
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

/* Quinta Section */


/* Sesta Section */

/* Quadrato centrale */
.box{
    width: 40%;
    height: 460px;
    padding: 3rem;
    background-color: rgb(245, 245, 245);
}

div#logo-designit{
    width: 27%;
    height: 70px;
    border-bottom: 1px solid grey;
    margin-bottom: 2.5rem;
}

div#logo-designit img{
    width: 100%;
}

article.box div p{
    margin-bottom: 3rem;
}

/* Quadrati laterali */
.aside-box{
    width: 30%;
    height: 460px;
}
/* Quadrati che contegono i singoli svg */
div.block{
    width: calc(100% / 2);
    height: calc(100% / 2);
    background-color: purple;
}

img.svg{
    width: 60%;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

img.filter-white{
    filter: invert(100%) sepia(8%) saturate(7416%) hue-rotate(296deg) brightness(114%) contrast(110%);
}

/* Blocco di sinistra */
div#light-green{
    background-color: lightgreen;
    border: 0.7rem solid rgb(203, 240, 203);
}

div#dark-brown{
    background-color: rgb(100, 5, 5);
}

div#sky-blue{
    background-color: rgb(37, 169, 221);
}

div#red{
    background-color: red;
}

/* Blocco di destra */
div#crimson-red{
    background-color: crimson;
}

div#light-blue{
    background-color: lightblue;
}

div#dark-blue{
    background-color: rgb(35, 35, 163);
}

div#sun-yellow{
    background-color: rgb(243, 215, 59);
}

/* Settima Section */
h1#purple-title{
    color: purple;
}

div.small-element a{
    position: absolute;
    right: 0;
}

/* Ottava Section */
div.row{
    padding: 1.5rem 0;
    border-bottom: 2px solid black;
}
/* Div che da la dimensione alla domada */
div.question{
    width: 90%;
    line-height: 3rem;
}

/* Div che da la dimensione al selettore */
div.select{
    width: 10%;
    text-align: center;
    line-height: 3rem;
}

div.select i.fa-angle-down{
    font-size: 1.5rem;
} 

/* Footer */
#footer-section{
    background-color: black;
}

div.footer-container{
    width: 95%;
    padding: 5rem 0 5rem 7rem;
}

div.ul-box{
    width: calc((100% / 5) - 2rem);
    margin-right: 2rem;
}

div.ul-box h1{
    margin-bottom: 1.8rem;
    color: white;
}

div.ul-box li{
    list-style-type: none;
    line-height: 2rem;
}

div.ul-box li a{
    text-decoration: none;
    color: white;
}



