*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;   
}

/* Utility class */
.clearfix{
    content: "";
    display: table;
    clear: both;
}

.float-left{
    float: left;
}

.float-right{
    float: right;
}

.container{
    width: 75%;
    height: 400px;
    margin: 0 auto;
    background-color: darkorchid;
}
/* Classe comune dedicata ai bottoni */
.btn{
    
}

.explain-text{
    width: 35%;
    height: 150px;
    background-color: crimson;
}

.explain-img{
    width: 65%;
    height: 100px;
    background-color: darkorange;
}

/* Classe provvisoria pre dare una dimensione senza il 
contenuto */
.width{
    width: 100%;
}

/* Font del documento */
body{
    font-family: 'Open Sans', sans-serif;
}

/* Header */
#top-header{
    width: 100%;
    min-width: 1065px;
    height: 90px;
    line-height: 90px;
}

img#heder-logo{
    width: 100%;
    vertical-align: middle;
}

nav ul li.item-style{
    display: inline;
    list-style-type: none;
    margin-left: 40px;
}

li.item-style a{
    text-decoration: none;
    font-weight: 600;
    color: black;
}

/* Main  */
/* Prima Section Jumbotron */
section div.jumbotron{
    width: 90%;
    height: 500px;
    margin: 0 auto;
    padding: 3rem;
    background-color: cyan;
}

/* Seconda Section (dopo jumbotron) */
section.container > header.section-header, footer.section-footer{
    width: 100%;
    height: 100px;
    background-color: rosybrown;
}

/* I 3 aside flottati */
div aside.card{
    width: calc(100% / 3);
    height: 300px;
    background-color: red;
}

/* Terza Section (dopo Jumbotron) */


/* Quarta Section  */


/* Quinta Section */

/* Sesta Section */
section#square{
    width: 100%;
} 
/* Quadrato centrale */
.article-box{
    width: 40%;
    height: 460px;
    background-color: yellow;
}
/* Quadrati laterali */
.aside-box{
    width: 30%;
    height: 460px;
    background-color: red;
}

div.block{
    width: calc(100% / 2);
    height: calc(100% / 2);
    border: 1px solid red;
    background-color: purple;
}

/* Settima Section */

/* Ottava Section */
div.row{
    border-bottom: 2px solid black;
}
/* Div che da la dimensione alla domada */
div.question{
    width: 90%;
    background-color: crimson
}
/* Div che da la dimensione al selettore */
div.select{
    width: 10%;
    background-color: darkorange;
}

/* Footer */
div.footer-container{
    width: 95%;
    height: 500px;
    padding: 50px 80px;
}

div.ul-box{
    width: calc(100% / 5);
    background-color: chartreuse;
}

li.footer-item{
    list-style-type: none;

}



